#tablaCarreras {

    td{
        padding: 1rem;
    }

    th {
        padding: 1rem;
        background-color: black;
        color: white;
    }
}

form#nuevaCarrera {
    display: grid;
}

#listaCuatrimestres>li>input {
    width: 40%;
}